.git/
senaite.core/.git
translations/
!translations/fonts/
!translations/fonts/tahoma.ttf
!translations/fonts/tahomabd.ttf
!translations/impress/senaite.impress.po
!translations/impress/senaite.impress.mo
!translations/impress/print.css
!translations/impress/css.pt
!translations/impress/header.pt
!translations/impress/info.pt
!translations/impress/summary.pt
!translations/impress/results.pt
!translations/impress/discreeter.pt
!translations/impress/footer.pt
!translations/impress/reportview.py
backups/
